!!! Strict
%html
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    %title Weather Orb
    %link{:href => versioned_stylesheet('weatherorb'), :media => "screen", :rel => "stylesheet", :type => "text/css"}
    %script{ :src => "/jquery-1.4.1.min.js", :type => "text/javascript" }
    %script{ :src => versioned_javascript('jquery.typeblocker'), :type => "text/javascript" }
    :javascript
      $(document).ready(function(){
        $(".weather").typeblocker(250, { ignore_child_selector: ".next" });
      });
  %body
    .container
      .weather
        .temp #{@weather[:condition][:temp]}°
        .condition and #{@weather[:condition][:text].downcase}
        .location in Sydney, Australia

        .next #{day_from_date(@weather[:forecast][0]["date"])}
        .forecast High #{@weather[:forecast][0]["high"]}° and Low of #{@weather[:forecast][0]["low"]}°
        .condition #{@weather[:forecast][0]["text"].downcase}

        .next #{day_from_date(@weather[:forecast][1]["date"])}
        .forecast High #{@weather[:forecast][1]["high"]}° and Low of #{@weather[:forecast][1]["low"]}°
        .condition #{@weather[:forecast][1]["text"].downcase}

      .footer
        %p
          This simple little weather site (Sydney-only, at the moment) exists to provide this <a href="/weather.xml">XML</a> to an Arduino-powered ambient weather orb.
      
        %p 
          Powered by <a href="http://www.sinatrarb.com/">Sinatra</a>, with a bit of <a href="http://developer.yahoo.com/yql/">YQL</a>, a dash of <a href="http://github.com/benschwarz/smoke">Smoke</a>, and served by <a href="http://heroku.com/">Heroku</a>. 
