!!! Strict
%html
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    %meta{ :name => "viewport", :content => "width=device-width,initial-scale=.9,minimum-scale=.9,maximum-scale=.9,user-scalable=no" }
    %title Weather Orb
    %link{:href => versioned_stylesheet('weatherorb'), :media => "screen", :rel => "stylesheet", :type => "text/css"}
    %script{ :src => "/jquery-1.4.1.min.js", :type => "text/javascript" }
    %script{ :src => versioned_javascript('jquery.typeblocker'), :type => "text/javascript" }
    :javascript
      $(document).ready(function(){
        setTimeout(function(){window.scrollTo(0, 1);}, 100);
        $(".weather").typeblocker(250, { ignore_child_selector: ".next" });
      });
  %body
    .container

      .weather
        .temp #{ @weather[:condition][:temp] }°
        .condition and #{ @weather[:condition][:text].downcase }
        .location in Sydney, Australia

        - @weather[:forecast].each do |day|
          .next #{ day_from_date( day["date"] ) }
          .forecast High #{ day["high"] }° and Low of #{ day["low"] }°
          .condition #{ day["text"].downcase }

      .footer
        %p
          This simple little weather site (Sydney-only, at the moment) exists to provide this <a href="/weather.xml">XML</a> to an <a href="http://arduino.cc">Arduino</a>-powered ambient weather orb.
      
        %p 
          Powered by <a href="http://www.sinatrarb.com/">Sinatra</a>, some <a href="http://weather.yahoo.com/australia/new-south-wales/sydney-1105779/">Yahoo Weather</a>, a bit of <a href="http://developer.yahoo.com/yql/">YQL</a>, a dash of <a href="http://github.com/benschwarz/smoke">Smoke</a>, and served by <a href="http://heroku.com/">Heroku</a>. Grab the code on <a href="http://github.com/philoye/weatherorb">GitHub</a>.
